@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");
:root {
  /*
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
*/
  --color-primary: #27d05a;
  --color-primary-light: #5ac85d;
  --color-primary-dark: #39d171;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-1); }

.heading {
  text-align: center; }
  .heading__primary {
    display: block; }

.c-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 16rem; }
  .c-logo__text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1;
    padding: 0 1.2rem;
    font-size: 1rem; }
    .c-logo__text-container :first-child {
      font-weight: bold; }
  .c-logo--small {
    height: 3.75rem;
    margin-left: 2rem;
    border-radius: 100%; }

.c-search__input {
  padding: 0.7rem 2rem;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3.25rem; }
  .c-search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-grey-light-4); }
  .c-search__input:focus {
    outline: none;
    width: 100%;
    background-color: var(--color-grey-light-3); }

.c-search__input:focus + .c-search__button {
  background-color: var(--color-grey-light-3); }

.c-search__button {
  border: none;
  background-color: var(--color-grey-light-2); }
  .c-search__button:focus {
    outline: none; }
  .c-search__button:active {
    transform: translateY(2px); }

.c-search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-3); }

.c-user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center; }

.c-user-nav > *:hover {
  background-color: var(--color-grey-light-2); }

.c-user-nav__icon-box {
  position: relative; }

.c-user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-2); }

.c-user-nav__notification {
  font-size: 0.8rem;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-primary);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center; }

.c-user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem; }

.c-side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .c-side-nav__item {
    position: relative; }
    .c-side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
    .c-side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
    .c-side-nav__item:hover::before, .c-side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .c-side-nav__item:active::before {
      background-color: var(--color-primary-light); }
  .c-side-nav__link:link, .c-side-nav__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; }
  .c-side-nav__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.c-legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem; }

.c-gallery {
  display: flex; }
  .c-gallery__photo {
    width: 100%;
    display: block; }
  .c-gallery__item img {
    max-width: 100%;
    height: 20rem; }

.c-overview {
  display: flex;
  align-items: center;
  border-bottom: var(--line);
  width: 100%; }
  .c-overview__heading {
    font-size: 1.75rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem; }
  .c-overview__stars {
    margin-right: auto;
    display: flex; }
  .c-overview__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center; }
  .c-overview__icon-star, .c-overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary); }
  .c-overview__icon-location {
    margin-right: 0.5rem; }
  .c-overview__rating {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: #fff;
    align-self: stretch;
    padding: 0 2.25rem; }
  .c-overview__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
  .c-overview__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase; }

.c-btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s; }
  .c-btn-inline:hover {
    color: var(--color-grey-dark-1); }
  .c-btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.c-detail {
  display: flex; }
  .c-detail__description {
    flex: 0; }

.c-user-reviews {
  flex: 1; }

.c-description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  font-size: 1.4rem; }
  .c-description__paragraph {
    font-weight: 900; }
    .c-description__paragraph:not(:last-of-type) {
      margin-bottom: 2rem; }

.c-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 3rem;
  border-top: var(--line);
  border-bottom: var(--line);
  margin: 3rem 0; }
  .c-list__item {
    display: flex;
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }
  .c-list__arrow:before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 0.7rem;
    background-color: var(--color-primary);
    -webkit-mask-image: url(../../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../../img/chevron-thin-right.svg);
    mask-size: cover; }

.c-recommend {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--color-grey-dark-3); }
  .c-recommend__count {
    margin-right: auto; }
  .c-recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    border: 3px solid #fff; }
    .c-recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }

.c-review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden; }
  .c-review__text {
    position: relative;
    margin-bottom: 2rem;
    z-index: 10; }
  .c-review__user {
    display: flex;
    align-items: center; }
  .c-review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 100%;
    margin-right: 1.5rem; }
  .c-review__user-box {
    margin-right: auto; }
  .c-review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.4rem; }
  .c-review__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3); }
  .c-review__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300; }
  .c-review::before {
    content: "\201c";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-2);
    font-family: sans-serif;
    line-height: 1;
    z-index: 1; }

.l-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  width: 100%;
  margin: 5rem; }

.l-content {
  display: flex;
  height: 100%; }

.l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  font-size: 1.4rem;
  height: 7rem; }
  .l-header__search {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .l-header__user-nav {
    display: flex;
    align-items: center;
    align-self: stretch; }

.l-sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.l-hotel-view {
  background-color: #fff;
  flex: 1;
  height: 100%; }

.l-details {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }
