.l-container {
  display: flex;
  flex-direction: column;

  // max-width: 120rem;
  // margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  // min-height: 50rem;
  width: 100%;
  margin: 0 10rem;
  // height: 85vh;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
  }
}
