.c-description {
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  font-size: 1.4rem;

  @include respond(bp-medium) {
    justify-content: center;
    padding: 2rem;
    margin-right: 3rem;
  }

  @include respond(bp-small) {
    margin-right: 0;
    margin-bottom: 3rem;
  }

  &__paragraph {
    font-weight: 900;
    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }
  }
}
